# ==========================================================================
# Copyright (C) 2022 Intel Corporation
#
# SPDX-License-Identifier: MIT
# ==========================================================================

breathe==4.36.0
Sphinx==8.2.3
sphinx-book-theme==1.1.4
